table {
    border-collapse: collapse;
    border: 1px solid #ffffff;
    width: 500px;
    table-layout: fixed;
    th,
    td {
        padding: 5px;
        border: 1px solid #ffffff;
        text-align: center;
        vertical-align: middle;
        img {
            width: 60px;
        }
        input {
            width: 50px;
            height: 50px;
            text-align: center;
        }
        input[type="number"]:hover::-webkit-inner-spin-button {
            width: 20px;
            height: 50px;
        }
        .example-flex-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
}