<section class="flex column justify-center align-center">
    <h2>Cart:</h2>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Image</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total Price</th>
                <th>Remove Item</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cart">
                <td>{{item.title}}</td>
                <td><img src={{item.image}} alt={{item.title}} onerror="this.onerror=null;this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ_icZBM5s9kG-1XQJ9mYa5w61YBVAEHhQSpQ&usqp=CAU';">
                </td>
                <td>
                    <div class="quantity"><input type="number" id="quantity" name="quantity" value={{item.quantity}} min="1" (change)="onChangeQuantity($event,item)" /></div>
                </td>
                <td>{{item.price}}$</td>
                <td>{{item.totalLine}}</td>
                <td>
                    <div class="example-button-container">
                        <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="removeItem(item)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Total Cart:</td>
                <td>{{totalCart}}</td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</section>